<div fxLazout="row" fxLayoutAlign="center start">
    <div fxLayout.gt-sm="column" fxFlex.gt-md="50">
        <div fxLayout.gt-sm="row" fxLayout.lt-md="column">
            <div fxLayout="column" fxFlex="30">
                <img src="{{ product.image }}">
            </div>
            <div fxLayout="column" fxFlex="70" class="product-details">
                <h3>{{ product.name }}</h3>
                <h2>${{ product.price }}</h2>
                <p>{{ product.description }}</p>
                <div fxLayout="row">
                    <div fxLayout="column" fxFlex fxLayoutAlign="center start">
                        <mat-form-field>
                            <mat-label>Size</mat-label>
                            <mat-select [(value)]="selectedSku">
                                <mat-option *ngFor="let sku of inventory" [value]="sku" [disabled]="sku.inStock < 1">
                                    {{ sku.size }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="column" fxFlex fxLayoutAlign.gt-sm="center start" fxLayoutAlign.lt-md="center end">
                        <div fxLayout="row" fxLayoutAlign="end center">
                            <span fxHide.gt-sm *ngIf="selectedSku.inStock > 0" class="stock-text-large">
                                {{ selectedSku.inStock }} left!
                            </span>
                            <button fxHide.lt-md mat-raised-button color="accent" (click)="addToCart(selectedSku)"
                                [disabled]="selectedSku.inStock === undefined || selectedSku.inStock < 1">
                                <mat-icon>shopping_cart</mat-icon> Add to Cart
                            </button>
                            <button fxHide.gt-sm mat-fab color="accent" (click)="addToCart(selectedSku)" [disabled]="selectedSku.inStock === undefined || selectedSku.inStock < 1">
                                <mat-icon>shopping_cart</mat-icon>
                            </button>
                            <span fxHide.lt-md *ngIf="selectedSku.inStock > 0" class="stock-text-large">
                                {{ selectedSku.inStock }} left!
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>