img {
  width: 100%;
  height: auto;
}

p {
  text-align: justify;
}

div.product-details {
  margin: 0 8px;
}

span.stock-text-large {
  margin: 0 8px;
}

span.stock-text {
  font-size: 0.8em;
  color: #777;
}
