.product {
  margin-top: 8px;

  .mat-card {
    padding: 16px;

    .mat-card-image {
      width: calc(100% + 32px);
      margin: 0 -16px 16px -16px;
    }
  }

  h3 {
    margin: 16px 0;
  }

  p {
    margin: 4px 0;
  }

  .details {
    background: rgba(255, 255, 255, 0.6);
  }
}
