<div fxLayout="row" fxLayoutAlign="center start">
  <div fxLayout="column" fxFlex.gt-md="0 0 50">
    <div fxLayout="row" fxLayoutGap="8px">
      <div fxLayout="column" fxFlex="0 0 25%" fxHide.lt-lg="true">
        <app-filters *ngIf="!loading" [catalog]="catalog"></app-filters>
      </div>
      <div fxLayout="column" fxFlex.gt-md="0 0 75%">
        <app-sorter *ngIf="!loading" [catalog]="catalog" fxHide.lt-lg="true"></app-sorter>
        <div fxLayout="row wrap" fxLayoutAlign="space-around">
          <div fxLayout="column" fxFlex *ngIf="loading">
            <div fxLayout="row" fxLayoutAlign="start center">
              <div fxLayout="column" fxFlex>Loading Catalog...</div>
              <div fxLayout="column" fxFlex="0 0 80%">
                <mat-progress-bar *ngIf="loading" mode="buffer"></mat-progress-bar>
              </div>
            </div>
          </div>
          <a *ngFor="let product of catalog.products" class="product" [routerLink]="['/product', product.id]" fxLayout="column"
            fxFlex="0 0 32%" fxFlex.sm="0 0 49%" fxFlex.xs="0 0 100%">
            <mat-card>
              <mat-card-header>
              </mat-card-header>
              <img mat-card-image src="{{ product.image }}">
              <mat-card-content>
                <h3>{{ product.name }}</h3>
                <h4>{{ product.brandName }}</h4>
                <p>${{ product.price }}</p>
              </mat-card-content>
            </mat-card>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>