<h2>Filters</h2>
<div fxLayout="row">
  <div fxLayout="column" fxFlex="0 0 100%" fxHide.lt-md="true">
    <div fxLayout="row" fxLayoutAlign="center start" ngHide="catalog.uniqueBrandNames.length < 2">
      <div fxLayout="column" fxFlex>
        <mat-form-field>
          <mat-label>Brand Names</mat-label>
          <input type="text" #brandNameFilterInput matInput [matAutocomplete]="autoBrandNames" [formControl]="brandNameControl">
          <mat-autocomplete #autoBrandNames="matAutocomplete" (optionSelected)="onFilter('brandName', $event)">
            <mat-option *ngFor="let brandName of filteredBrandNames | async" [value]="brandName">
              {{ brandName }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-chip-list>
          <mat-chip *ngFor="let brandName of catalog.productFilter.brandNames" removable="true" selectable="false"
            (removed)="onFilterRemoved('brandName', brandName)">
            {{ brandName }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center start">
      <div fxLayout="column" fxFlex>
        <mat-form-field>
          <mat-label>Tags</mat-label>
          <input type="text" #tagFilterInput matInput [matAutocomplete]="autoTags" [formControl]="tagControl">
          <mat-autocomplete #autoTags="matAutocomplete" (optionSelected)="onFilter('tag', $event)">
            <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
              {{ tag }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-chip-list>
          <mat-chip *ngFor="let tag of catalog.productFilter.tags" removable="true" selectable="false" (removed)="onFilterRemoved('tag', tag)">
            {{ tag }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="8px">
      <mat-form-field fxLayout="column" fxFlex="50%">
        <mat-label>Minimum Price</mat-label>
        <input type="number" step="0.01" min="0" matInput (input)="onFilter('price')" [formControl]="minPriceControl"
          value="0">
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>

      <mat-form-field fxLayout="column" fxFlex="50%">
        <mat-label>Maximum Price</mat-label>
        <input type="number" step="0.01" min="0" matInput (input)="onFilter('price')" [formControl]="maxPriceControl"
          value="0">
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>
    </div>
  </div>
</div>