<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">
  <h3 fxLayout="column">Sort By:</h3>
  <mat-select fxLayout="column" (selectionChange)="sort('brandName', $event)" fxFlex="24" placeholder="Brand Name">
    <mat-option value=""></mat-option>
    <mat-option value="asc">Brand A - Z</mat-option>
    <mat-option value="desc">Brand Z - A</mat-option>
  </mat-select>
  <mat-select fxLayout="column" (selectionChange)="sort('name', $event)" fxFlex="24" placeholder="Name">
    <mat-option value=""></mat-option>
    <mat-option value="asc">Name A - Z</mat-option>
    <mat-option value="desc">Name Z - A</mat-option>
  </mat-select>
  <mat-select fxLayout="column" (selectionChange)="sort('price', $event)" fxFlex="24" placeholder="Price">
    <mat-option value=""></mat-option>
    <mat-option value="asc">Low - High</mat-option>
    <mat-option value="desc">High - Low</mat-option>
  </mat-select>
</div>