<div class="container">
  <div fxLayout="row" fxFlexFill>
    <div fxLayout="column" fxFlexFill>
      <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="center center" fxFlex="5">
        <div fxLayout="column" fxFlex.gt-md="50">
          <div fxLayout="row">
            <div fxLayout="column" fxFlex>
              Moon & Hare
            </div>
            <div fxLayout="column" fxFlex fxLayoutAlign="center end">
              <mat-icon [routerLink]="['/store']" [matBadge]="cartCount" [matBadgeHidden]="!cartCount" matBadgeColor="accent">shopping_cart</mat-icon>
            </div>
          </div>
        </div>
      </mat-toolbar>
      <mat-toolbar class="breadcrumbs" fxLayout="row" fxLayoutAlign="center center" fxFlex="3">
        <div fxLayout="column" fxFlex.gt-md="50">
          <a [routerLink]="['/store']">Store</a>
        </div>
      </mat-toolbar>
      <router-outlet></router-outlet>
      <mat-toolbar class="footer" fxLayout="row" fxLayoutAlign="end start" fxFlex="5">
        <div fxLayout="column" fxFlex="0 0 100%" fxLayoutAlign="center center">
          <p>2018 &copy; Copyright Moon & Hare.</p>
        </div>
      </mat-toolbar>
    </div>
  </div>
</div>