@import '~@angular/material/theming';

$default-primary: mat-palette($mat-blue, 700);
$default-secondary: mat-palette($mat-grey, 500);
$default-warn: mat-palette($mat-orange);

$primary: mat-color($default-primary);
$secondary: mat-color($default-secondary);
$warn: mat-color($default-warn);
