@import '~@angular/material/theming';
@import 'themes/default.theme.scss';

@include mat-core();

@mixin custom-theme($theme) {
  @include angular-material-theme($theme);
}

html,
body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;

  a {
    text-decoration: none;
  }

  .footer {
    text-align: center;
    white-space: pre-wrap;
  }
}

$default-theme: mat-light-theme(
  $default-primary,
  $default-secondary,
  $default-warn
);

@include custom-theme($default-theme);
